*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active{
    color: rgb(51, 51, 51);
}

.theme-toggler.active::before{
    background-color: rgb(255, 255, 255);
}

.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(51, 51, 51);
    z-index: -1;
}

#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1.15);
}

button#equal{
    height: 130px;
}

/* Light Theme */

.calculator{
    background-color: rgb(255, 255, 255);
}

.calculator#display{
    color: rgb(10, 30, 35);
}

.calculator button#clear{
    background-color: rgb(255, 213, 216);
    color: rgb(252, 69, 82);
}

.calculator button.btn-number{
    background-color: rgb(195, 234, 255);
    color: rgb(0, 0, 0);
}

.calculator button.btn-operator{
    background-color: rgb(255, 208, 253);
    color: #f967f3;
}

.calculator button.btn-equal{
    background-color: rgb(195, 234, 255);
    color: rgb(0, 0, 0);
}

/* Dark Theme */

.calculator.dark{
    background-color: rgb(7, 17, 21);
}

.calculator.dark #display{
    color: rgb(248, 250, 253);
}

.calculator.dark button#clear{
    background-color: rgb(45, 25, 30);
    color: rgb(189, 71, 48);
}

.calculator.dark button.btn-number{
    background-color: rgb(27, 47, 56);
    color: rgb(248, 250, 251);
}

.calculator.dark button.btn-equal{
    background-color: rgb(34, 51, 35);
    color: rgb(255, 255, 255);
}